@model Comic
@{
    ViewBag.Title = "Delete Comic";
}
<!--
    This is the Delete Page that deletes the comics you want to get rid of
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Delete</title>
    </head>
<body>
    <h2>Confirm Deleteion</h2>
    <h3>@Model.Name (@Model.Company)</h3>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ComicId" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Home" asp-action="Index"
                calss="btn btn-primary">Go Back</a>
    </form>
</body>
</html>
